<script type="text/ng-template" id="AudioLibrualy.html">
    <div class="modal-header">
        <a href="javascript:;" class="btn btn-default pull-right vn-file-input">
            <input class="file-click" type="file" />
            上传音频
        </a>
        <h3 class="modal-title">音频</h3>
    </div>

    <div class="modal-body media-manager-container">
        <div class="ads-row media-manager">
            <div class="ads-c-2 cagetName">
                <h4>分类</h4>
                <ul>
                    <li>音频库</li>
                    <li>我的音频</li>
                </ul>
            </div>
            <div class="ads-c-10 resure-List">暂无</div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok(selectType)">确认</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
</script>
音频