<script type="text/ng-template" id="myModalcompess.html">
    <div class="modal-header">
        <h3 class="modal-title">Editor版本v1.0.1开发进度说明:</h3>
    </div>
    <div class="modal-body">

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-8">Html5 组件类型【线，纯文本，矩形（可圆角），表单控件组】</div>
            <div class="ads-c-4 text-right">完成进度 95%</div>
        </div>
        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-8">欠缺多媒体组件【图片，音频，视频】</div>
            <div class="ads-c-4 text-right">完成进度 -</div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
    </div>
</script>
Editor版本v1.0.1
