<script type="text/ng-template" id="myModalHotkey.html">
    <div class="modal-header">
        <h3 class="modal-title">快捷键说明:</h3>
    </div>
    <div class="modal-body">

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">Esc</div>
            <div class="ads-c-8 text-right">退出编辑模式</div>
        </div>

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">v</div>
            <div class="ads-c-8 text-right">进入编辑模式（文本编辑中无效。）</div>
        </div>

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">Ctrl+c</div>
            <div class="ads-c-8 text-right">复制组件（选中组件才生效。）</div>
        </div>

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">Ctrl+x</div>
            <div class="ads-c-8 text-right">剪切组件（选中组件才生效。）</div>
        </div>


        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">Ctrl+v</div>
            <div class="ads-c-8 text-right">粘贴组件（选中组件才生效。）</div>
        </div>

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">Ctrl+s</div>
            <div class="ads-c-8 text-right">保存</div>
        </div>

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">↑</div>
            <div class="ads-c-8 text-right">组件上移（选中组件才生效。）</div>
        </div>

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">↓</div>
            <div class="ads-c-8 text-right">组件下移（选中组件才生效。）</div>
        </div>

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">←</div>
            <div class="ads-c-8 text-right">组件左移（选中组件才生效。）</div>
        </div>
        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">→</div>
            <div class="ads-c-8 text-right">组件右移（选中组件才生效。）</div>
        </div>

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">shift+↑</div>
            <div class="ads-c-8 text-right">组件快速上移（选中组件才生效。）</div>
        </div>

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">shift+↓</div>
            <div class="ads-c-8 text-right">组件快速下移（选中组件才生效。）</div>
        </div>

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">shift+←</div>
            <div class="ads-c-8 text-right">组件快速左移（选中组件才生效。）</div>
        </div>
        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">shift+→</div>
            <div class="ads-c-8 text-right">组件快速右移（选中组件才生效。）</div>
        </div>

        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">Tab</div>
            <div class="ads-c-8 text-right">隐藏/显示工具栏</div>
        </div>
        <div class="ads-row" style="border-bottom: 1px solid #ddd; line-height: 32px;">
            <div class="ads-c-4">backspace/del</div>
            <div class="ads-c-8 text-right">删除组件(选中组件才生效)</div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
    </div>
</script>
快捷键说明
