<div class="ads-c-6 item"><a
        tool-pick
      tool-type="{{ToolPick}}"
      ng-class="{true:'active',false:'inactive'}[ToolPick==ActiveToolType]"
      href="javascript:;"
        ><i class="ion-arrow-move" uib-tooltip="编辑模式" tooltip-placement="top" ></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolLine}}"
        ng-class="{true:'active',false:'inactive'}[ToolLine==ActiveToolType]"
        href="javascript:;"
        ><i class="ion-ios-minus-empty lg-line" uib-tooltip="线" tooltip-placement="top" ></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolSquare}}"
        ng-class="{true:'active',false:'inactive'}[ToolSquare==ActiveToolType]"
        href="javascript:;"
        ><i class="fa fa-square-o" uib-tooltip="矩形" tooltip-placement="top" ></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolCircular}}"
        ng-class="{true:'active',false:'inactive'}[ToolCircular==ActiveToolType]"
        href="javascript:;"
        uib-tooltip="圆形" tooltip-placement="top"
        ><i class="ion-ios-circle-outline" ></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolTxt}}"
        ng-class="{true:'active',false:'inactive'}[ToolTxt==ActiveToolType]"
        href="javascript:;" ><i class="glyphicon glyphicon-text-width" uib-tooltip="文本" tooltip-placement="top" ></i></a></div>

<div class="ads-c-12"><hr style="margin: 5px 0;"></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{FormDataRadio}}"
        ng-class="{true:'active',false:'inactive'}[FormDataRadio==ActiveToolType]"
        href="javascript:;" ><i class="ion-android-radio-button-on" uib-tooltip="input['radio']" tooltip-placement="top"  ></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{FormDataText}}"
        ng-class="{true:'active',false:'inactive'}[FormDataText==ActiveToolType]"
        href="javascript:;" ><i class="ion-code-working" uib-tooltip="input['text/tel']" tooltip-placement="top"  ></i></a></div>

<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{FormDataCheckbox}}"
        ng-class="{true:'active',false:'inactive'}[FormDataCheckbox==ActiveToolType]"
        href="javascript:;" ><i class="fa fa-check-square"  uib-tooltip="input['checkbox']" tooltip-placement="top"></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{FormDataSelect}}"
        ng-class="{true:'active',false:'inactive'}[FormDataSelect==ActiveToolType]"
        href="javascript:;" ><i class="fa fa-server"  uib-tooltip="select" tooltip-placement="top" ></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{FormDataTextarea}}"
        ng-class="{true:'active',false:'inactive'}[FormDataTextarea==ActiveToolType]"
        href="javascript:;" ><i class="fa fa-edit"  uib-tooltip="textarea" tooltip-placement="top" ></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolButton}}"
        ng-class="{true:'active',false:'inactive'}[ToolButton==ActiveToolType]"
        href="javascript:;" ><i class="ion-android-checkbox-outline"  uib-tooltip="button" tooltip-placement="top"></i></a></div>
<div class="ads-c-12"><hr style="margin: 5px 0;"></div>
<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolImg}}"
        ng-click="addMedia('Images');"
        ng-class="{true:'active',false:'inactive'}[ToolImg==ActiveToolType]"
        href="javascript:;" ><i class="ion-images"></i></a></div>

<div class="ads-c-6 item"><a
        tool-pick
        tool-type="{{ToolAudio}}"
        ng-click="addMedia('Audio');"
        ng-class="{true:'active',false:'inactive'}[ToolAudio==ActiveToolType]"
        href="javascript:;" ><i class="ion-music-note"></i></a></div>
<div class="ads-c-6 item"><a
        tool-pick
        ng-click="addMedia('Video');"
        tool-type="{{ToolVedio}}"
        ng-class="{true:'active',false:'inactive'}[ToolVedio==ActiveToolType]"
        href="javascript:;" ><i class="ion-android-film"></i></a></div>