<div class="mo-ui-container {{pageAnimationStyle}}" wx.sharp="" already_announced-event=""  >




        <div class="mo-ui-tablebox _mo_list">
                <a class="mo-ui-tablebox _mo_list_item" ui-sref="detail">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic"></div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox title">[第4期] 我是名称测试</div>
                                <div class="mo-ui-tablebox price">￥28.47</div>
                                <div class="mo-ui-tablebox price">幸运号码：100012562</div>
                        </div>
                </a>

                <a class="mo-ui-tablebox _mo_list_item" ui-sref="detail">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic"></div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox title">[第4期] 我是名称测试</div>
                                <div class="mo-ui-tablebox price">￥28.47</div>
                                <div class="mo-ui-tablebox price">幸运号码：100012562</div>
                        </div>
                </a>





        </div>

</div>



