<div class="mo-ui-container {{pageAnimationStyle}}" wx.sharp  detail-event="" >


        <div class="mo-ui-tablebox" ng-banner="[111,222]" ></div>

        <a href="javascript:;" class="mo-ui-Title mo-ui-unLine">我是名称测试</a>

        <br>
        <div class="mo-ui-tablebox time-process" id="time-process" >
                <p class="mo-ui-text-center">购买进度：15/29 (65%)</p>
                <div class="ads-row process-bar">
                        <div class="progress progress-sm active">
                                <div style="width: 65%" class="progress-bar progress-bar-success progress-bar-striped"></div>
                        </div>
                </div>
        </div>

        <div class="mo-ui-tablebox mo-ui-linkbold">
                <div class="mo-ui-item">价格：￥29</div>
                <div class="mo-ui-item">
                        <div class="mo-ui-input">
                                <label>购买数量：</label>
                                <input class="mo-ui-form-control" type="text" value="1" readonly="readonly"  io-select="{{buyMubArray}}" ng-model="selectedMub"  />
                        </div>
                </div>
                <div class="mo-ui-item mo-ui-default mo-ui-text-center">未开始，先撩下妹纸再来。</div>
                <div class="mo-ui-item mo-ui-danger mo-ui-text-center">幸运号码：<span  class="mo-ui-inline-text" >100081453</span></div>

        </div>






        <div class="mo-ui-tablebox mo-ui-linkbold mo-ui-fouce">
                <a ui-sref="mublist({id:13})" href="javascript:;" class="mo-ui-item mo-ui-hasArrow">我已购买号码</a>
                <a ui-sref="product_detail({id:13})" href="javascript:;" class="mo-ui-item mo-ui-hasArrow">查看商品明细</a>
        </div>



        <br>
        <br>
        <div class="mo-ui-tablebox _mo_list">
                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic">头像</div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox name">中奖用户：陈小Y</div>
                                <div class="mo-ui-tablebox price">幸运号码:100081453</div>
                                <div class="mo-ui-tablebox time">时间:2016-04-13</div>
                        </div>
                </div>
        </div>

        <br>
        <div class="mo-ui-tablebox">
                <a ui-sref="order" class="mo-ui-button mo-ui-block mo-ui-success" href="javascript:;">立即抢购</a>
        </div>



</div>



