<div class="mo-ui-container {{pageAnimationStyle}}" wx.sharp  help-event="" >


        <h3 class="mo-ui-Title mo-ui-unLine">1元抢购及开奖规则</h3>

        <div class="mo-ui-tablebox calculator  mo-ui-text-center">

                <div class="mo-ui-tablebox calculator-box">
                        <div class="mo-ui-table">
                                <div class="mo-ui-td mo-ui-td-12"><b>100015</b><br>最终计算结果</div>
                        </div>
                </div>

                <p><i class="ion-ios-pause"></i></p>

                <div class="mo-ui-tablebox calculator-box2">
                        <div class="mo-ui-table">
                                <div class="mo-ui-td">(</div>
                                <div class="mo-ui-td border"><b>12354005</b><br><span>时间取值之和</span></div>
                                <div class="mo-ui-td">%</div>
                                <div class="mo-ui-td border"><b>30</b><br><span>商品总需人数</span></div>
                                <div class="mo-ui-td">)+</div>
                                <div class="mo-ui-td border"><b>100001</b><br><span>固定数值</span></div>
                        </div>
                </div>

                <br>
                <br>
                <br>
                <br>
                <p>截止该商品最后购买时间【2016-07-20 15:30】</p>
                <p>全站的最后50条购买时间取值之和，不够50取总数。</p>

        </div>



</div>



