<div class="mo-ui-container {{pageAnimationStyle}}" wx.sharp="" home-event=""  global-scroll=""  scroll-refren="true" >

        <div class="mo-ui-tablebox" ng-banner="[111,222]" ></div>

        <a ui-sref="will_announced"  href="javascript:;" class="mo-ui-Title mo-ui-unLine mo-ui-more">最新热抢商品</a>

        <div class="mo-ui-tablebox _mo_list">
                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic"></div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox title">[第4期] 我是名称测试</div>
                                <div class="mo-ui-tablebox price">￥28.47</div>
                                <div class="mo-ui-tablebox">
                                        <div class="mo-ui-td mo-ui-td-5 lable-progress-bar">购买进度:(0%)</div>
                                        <div class="mo-ui-td mo-ui-td-7">
                                                <div class="ads-row process-bar">
                                                        <div class="progress progress-sm active">
                                                                <div style="width: 0%" class="progress-bar progress-bar-success progress-bar-striped"></div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="mo-ui-tablebox btns">
                                        <a ui-sref="detail({ id: 2,qid:3 })" href="javascript:;" class="mo-ui-button mo-ui-default mo-ui-block"><i class="ion-ios-stopwatch-outline"></i> 未开始</a>
                                </div>
                        </div>
                </div>
                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic"></div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox title">[第1期] 我是名称测试</div>
                                <div class="mo-ui-tablebox price">￥28.47</div>
                                <div class="mo-ui-tablebox">
                                        <div class="mo-ui-td mo-ui-td-5 lable-progress-bar">购买进度:(65%)</div>
                                        <div class="mo-ui-td mo-ui-td-7">
                                                <div class="ads-row process-bar">
                                                        <div class="progress progress-sm active">
                                                                <div style="width: 65%" class="progress-bar progress-bar-success progress-bar-striped"></div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="mo-ui-tablebox btns">
                                        <a  ui-sref="detail({ id: 2,qid:3 })" href="javascript:;" class="mo-ui-button mo-ui-warning mo-ui-block"><i class="ion-ios-alarm-outline"></i> 抢购中,立即去抢</a>
                                </div>
                        </div>
                </div>

                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic"></div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox title">[第2期] 我是名称测试</div>
                                <div class="mo-ui-tablebox price">￥28.47</div>
                                <div class="mo-ui-tablebox">
                                        <div class="mo-ui-td mo-ui-td-5 lable-progress-bar">购买进度:(65%)</div>
                                        <div class="mo-ui-td mo-ui-td-7">
                                                <div class="ads-row process-bar">
                                                        <div class="progress progress-sm active">
                                                                <div style="width: 65%" class="progress-bar progress-bar-success progress-bar-striped"></div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="mo-ui-tablebox btns">
                                        <a ui-sref="detail({ id: 2,qid:3 })" href="javascript:;" class="mo-ui-button mo-ui-warning mo-ui-block"><i class="ion-ios-alarm-outline"></i> 抢购中,立即去抢</a>
                                </div>
                        </div>
                </div>


                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic"></div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox title">[第3期] 我是名称测试</div>
                                <div class="mo-ui-tablebox price">￥28.47</div>
                                <div class="mo-ui-tablebox">
                                        <div class="mo-ui-td mo-ui-td-5 lable-progress-bar">购买进度:(65%)</div>
                                        <div class="mo-ui-td mo-ui-td-7">
                                                <div class="ads-row process-bar">
                                                        <div class="progress progress-sm active">
                                                                <div style="width: 65%" class="progress-bar progress-bar-success progress-bar-striped"></div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="mo-ui-tablebox btns">
                                        <a ui-sref="detail({ id: 2,qid:3 })" href="javascript:;" class="mo-ui-button mo-ui-default mo-ui-block"><i class="ion-ios-clock-outline"></i> 已过期</a>
                                </div>
                        </div>
                </div>


        </div>

</div>



