<div class="mo-ui-container {{pageAnimationStyle}}" wx.sharp  joinhistory-event="" >


        <h3 class="mo-ui-Title mo-ui-unLine">我购买记录</h3>

        <div class="mo-ui-tablebox _mo_list">
                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic"></div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox title">xx游戏-我是名称测试</div>
                                <div class="mo-ui-tablebox price">￥28.47</div>
                                <div class="mo-ui-tablebox luckmub">幸运号码：100082153</div>
                                <div class="mo-ui-tablebox btns">
                                        <a ui-sref="mublist({ id: 2,qid:3 })" href="javascript:;" class="mo-ui-button mo-ui-default mo-ui-block">查看我的号码</a>
                                </div>
                        </div>
                </div>
                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic"></div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox title">xx游戏-我是名称测试</div>
                                <div class="mo-ui-tablebox price">￥28.47</div>
                                <div class="mo-ui-tablebox">
                                    <div class="mo-ui-td mo-ui-td-5 lable-progress-bar">购买进度:(65%)</div>
                                    <div class="mo-ui-td mo-ui-td-7">
                                        <div class="ads-row process-bar">
                                            <div class="progress progress-sm active">
                                                <div style="width: 65%" class="progress-bar progress-bar-success progress-bar-striped"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mo-ui-tablebox btns">
                                        <a ui-sref="mublist({ id: 2,qid:3 })" href="javascript:;" class="mo-ui-button mo-ui-default mo-ui-block">查看我的号码</a>
                                </div>
                        </div>
                </div>

        </div>



</div>



