<div class="mo-ui-container {{pageAnimationStyle}}" wx.sharp  luckhistory-event="" >


        <h3 class="mo-ui-Title mo-ui-unLine">我的中奖记录</h3>

        <div class="mo-ui-tablebox _mo_list">
                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic"></div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox title">xx游戏-我是名称测试</div>
                                <div class="mo-ui-tablebox price">￥28.47</div>
                                <div class="mo-ui-tablebox luckmub">幸运号码：100082153</div>
                                <div class="mo-ui-tablebox btns">
                                        <a ui-sref="receive({sortid:11})"  href="javascript:;" class="mo-ui-button mo-ui-success mo-ui-block">领奖</a>
                                </div>
                        </div>
                </div>
                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic"></div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox title">xx游戏-我是名称测试</div>
                                <div class="mo-ui-tablebox price">￥28.47</div>
                                <div class="mo-ui-tablebox luckmub">幸运号码：100082153</div>
                                <div class="mo-ui-tablebox btns">
                                        <a ui-sref="receive({sortid:11})"   href="javascript:;" class="mo-ui-button mo-ui-warning mo-ui-block">派奖中...</a>
                                </div>
                        </div>
                </div>

                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic"></div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox title">xx游戏-我是名称测试</div>
                                <div class="mo-ui-tablebox price">￥28.47</div>
                                <div class="mo-ui-tablebox luckmub">幸运号码：100082153</div>
                                <div class="mo-ui-tablebox btns">
                                        <a  ui-sref="receive({sortid:11})"  href="javascript:;" class="mo-ui-button mo-ui-danger mo-ui-block">确认兑奖</a>
                                </div>
                        </div>
                </div>
                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic"></div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox title">xx游戏-我是名称测试</div>
                                <div class="mo-ui-tablebox price">￥28.47</div>
                                <div class="mo-ui-tablebox luckmub">幸运号码：100082153</div>
                                <div class="mo-ui-tablebox btns">
                                        <span class="mo-ui-text-throwline">已兑奖</span>
                                </div>
                        </div>
                </div>


        </div>



</div>



