<div class="mo-ui-container {{pageAnimationStyle}}" wx.sharp=""  member-event="" >


        <div class="mo-ui-block-mainbox member-box">
                <div class="mo-ui-tablebox member-info">
                        <div class="mo-ui-cellItem mo-ui-text-center">
                                <div class="member-pic">头像</div>
                                <p>陈小Y</p>
                        </div>
                </div>
        </div>

        <div class="mo-ui-tablebox mo-ui-linkbold mo-ui-fouce">
                <!--<a ui-sref="role" href="javascript:;" class="mo-ui-item mo-ui-hasArrow">领奖信息</a>-->
                <a ui-sref="joinHistory" href="javascript:;" class="mo-ui-item mo-ui-hasArrow">查看历史购买记录</a>
                <a ui-sref="luckHistory" href="javascript:;" class="mo-ui-item mo-ui-hasArrow">查看中奖记录</a>
        </div>
        <br>

        <div class="mo-ui-tablebox mo-ui-linkbold mo-ui-fouce">
                <a ui-sref="help" href="javascript:;" class="mo-ui-item mo-ui-hasArrow">规则说明</a>
        </div>







</div>



