<div class="mo-ui-container {{pageAnimationStyle}}" wx.sharp  mublist-event="" >


        <h3 class="mo-ui-Title mo-ui-unLine">号码列表</h3>

        <div class="mo-ui-tablebox mo-ui-linkbold">
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
                <div class="mo-ui-item"><b class="mo-ui-color-danger">12582362</b></div>
        </div>
        <br>
        <div class="mo-ui-tablebox">
                <a class="mo-ui-button mo-ui-block mo-ui-default" href="javascript:window.history.back();">返回</a>
        </div>



</div>



