<div class="mo-ui-container {{pageAnimationStyle}}" wx.sharp=""  order-event="" >


        <div class="mo-ui-tablebox _mo_list">
                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic">商品</div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox name">商品标题</div>
                                <div class="mo-ui-tablebox price">价格:￥78</div>
                                <div class="mo-ui-tablebox time">数量:×1</div>
                        </div>
                </div>
        </div>

        <div class="mo-ui-tablebox mo-ui-linkbold">
                <div class="mo-ui-item">
                    <label>支付金额：</label> <b style="color: #c00;">￥1.00</b> 元
                </div>
        </div>


        <br>
        <br>
        <br>




        <div class="mo-ui-tablebox">
                <a ui-sref="pay"  class="mo-ui-button mo-ui-block mo-ui-success" href="javascript:;">微信安全支付</a>
        </div>


</div>



