<div class="mo-ui-container {{pageAnimationStyle}}" wx.sharp=""  pay-event="" >

        <h1 class="improtant-tips">支付成功</h1>

        <br>

        <div class="mo-ui-tablebox _mo_list">
                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic">商品</div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox name">商品标题</div>
                                <div class="mo-ui-tablebox price">价格:￥78</div>
                                <div class="mo-ui-tablebox time">数量:×1</div>
                        </div>
                </div>
        </div>

        <div class="mo-ui-tablebox mo-ui-linkbold">
                <div class="mo-ui-item" style="text-align: right;">
                        支付金额: <b style="color: #c00;">￥1.00</b> 元
                </div>
        </div>


        <br>
        <br>
        <br>




        <div class="mo-ui-tablebox">
                <a ui-sref="home"  class="mo-ui-button mo-ui-block mo-ui-success" href="javascript:;">继续抢购</a>
                <br>
                <a  class="mo-ui-button mo-ui-block mo-ui-default" href="javascript:;">分配号码中，请稍等...</a>
                <br>
                <a ui-sref="mublist"  class="mo-ui-button mo-ui-block mo-ui-default" href="javascript:;">查看号码</a>

        </div>


</div>



