<div class="mo-ui-container {{pageAnimationStyle}}" wx.sharp=""  receive-event="" >


        <div class="mo-ui-tablebox _mo_list">
                <div class="mo-ui-tablebox _mo_list_item">
                        <div class="mo-ui-cellItem _list_pic">
                                <div class="pic">商品</div>
                        </div>
                        <div class="mo-ui-cellItem _list_info">
                                <div class="mo-ui-tablebox name">商品标题</div>
                                <div class="mo-ui-tablebox price">幸运号码:100081453</div>
                                <div class="mo-ui-tablebox time">开奖时间:2016-04-13</div>
                        </div>
                </div>
        </div>

        <div class="mo-ui-tablebox mo-ui-linkbold">
                <div class="mo-ui-item">
                        <div class="mo-ui-input">
                                <label style="vertical-align: top; line-height: 0.96rem;">领奖信息：</label>
                                <textarea class="mo-ui-form-control" placeholder="请输入领奖信息" type="text"   ></textarea>
                        </div>
                </div>
        </div>



        <div class="mo-ui-tablebox mo-ui-linkbold">
                <div class="mo-ui-item">
                    <p>领奖信息：华南区 - 产销Y</p>
                </div>
        </div>
        <p class="tips-text">您的资料我们已经收到，奖品很快发到你手中。</p>
        <p class="tips-text">奖品已经发派，请查收确认！</p>

        <br>



        <div class="mo-ui-tablebox">
                <a ui-sref="luckHistory"  class="mo-ui-button mo-ui-block mo-ui-success" href="javascript:;">提交领奖信息</a>
        </div>
        <br>
        <div class="mo-ui-tablebox">
                <a  class="mo-ui-button mo-ui-block mo-ui-warning" href="javascript:;">发派奖品中...</a>
        </div>
        <br>
        <div class="mo-ui-tablebox">
                <a  class="mo-ui-button mo-ui-block mo-ui-danger" href="javascript:;">确认领奖</a>
        </div>
        <br>

        <div class="mo-ui-tablebox">
                <a  class="mo-ui-button mo-ui-block mo-ui-default" href="javascript:;">已领奖</a>
        </div>
        <br>


        <div class="mo-ui-tablebox mo-ui-linkbold">
                <div class="mo-ui-item receive_info">
                        <p>温馨提示：</p>
                        <p>1. 游戏道具请输入角色是在服务器，角色名称</p>
                        <p>2. 手机充值请直接输入手机号码。</p>
                        <p>请仔细填写信息，以免奖品不能及时快速发到您手上。</p>

                </div>
        </div>



</div>



